/* reset default styles */
*,
*:before,
*:after {
  box-sizing: inherit;
  /* position: relative; */
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


body {
  margin: 0px;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
  align-items: center;
  height: 100px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  color: rgb(112, 108, 108);
}

h4 {
  font-size: 1.5rem;
}

input {
  width: 100%;
}

a,
p,
li,
button,
div {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

small {
  font-size: 1rem;
}

img {
  margin-top: 20px;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-radius: 0;
  background: transparent;
}

/* app container styling */
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(38, 159, 211, 0.915);
  color: #e4e4e4;
}


.recipeDetail {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: black;
  line-height: 1.7;
}

.mainSection {
  margin-bottom: 5rem;
}

/* page options */
.recipesPageOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.recipesPageOptions button {
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.card {
  color: rgb(49, 44, 44);
  background: #e1b86d;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(240, 158, 57);
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.card .createRecipe {
  color: rgb(49, 44, 44);
  background: #e1b86d;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(240, 158, 57);
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button options */
.btnMain {
  color: #e4e4e4;
  background: steelblue;
  border: 1px solid steelblue;
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 40%;
}

.btnSecondary {
  background: #f3f3f3;
  border: 1px solid rgb(134, 137, 139);
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 150%;
}

.btnnav {
  background: #f3f3f3;
  border: 1px solid rgb(134, 137, 139);
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 100%;
}

.btnLg {
  height: 5rem;
}

/* recipe photo */
.recipePhoto {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.recipePhoto img {
  width: 128px;
  height: 128px;
}

/* custom recipe styles */
.customRecipeContainer {
  display: flex;
  flex-direction: column;
}

.customizeRecipe {
  max-width: 30rem;
  width: 100%;
  align-self: center;
}

/* create recipe styles */
.createRecipeContainer {
  display: flex;
  flex-direction: column;
}

.createRecipe {
  max-width: 25em;
  width: 100%;
  align-self: center;
}

.createRecipeFields {
  width: 100%;
  display: flex;
  margin-bottom: 0.2rem;
}

.createRecipeFields label {
  min-width: 8rem;
  width: 9rem;
}

.createRecipeButtonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  color: red;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

/* nickname styles */
.nicknameFields {
  margin: 20px 0;
}

.nicknameFields label {
  display: block;
  margin-bottom: 10px;
}

.nicknameFields input {
  padding: 15px 10px;
  height: 14px;
  max-width: 200px;
  width: 100%;
  font-size: 1.2rem;
}

/* cards container */
.recipeContainer {
  padding: 1rem 3rem;
  display: grid;
}

/* recipe card container */
.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem;
}

/* recipe card header */
.recipeHeadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipeHeadContainer div {
  width: 100%;
}

.recipeHeadContainer h3 {
  margin: 0;
}

.recipeHeadContainer .favIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* recipe card photo */
.recipeCard .recipePhoto {
  justify-content: center;
}

/* recipe additional details - films */
.recipeAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.recipeFilmsList {
  margin-top: 0;
}

.recipeFilm {
  margin-left: 0.5rem;
}

/* recipe buttons */
.recipeBtnOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recipeBtnOptions .space {
  margin-bottom: 1rem;
}

.recipeBtnOptions button {
  width: 100%;
}

/* modal */
.modal {
  position: absolute;
  display: inline-block;
  padding: 0.8rem;
  color: rgb(49, 44, 44);
  background: #ebbdbd;
  border: 1px solid rgb(236, 152, 152);
  border-radius: 5%;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.modalName {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.modalList {
  margin: 0;
}

.modalDetail {
  font-size: 1rem;
}

.modalHeading {
  display: flex;
  justify-content: space-between;
}

/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop
*/
/* Mobile */
@media screen and (max-width: 600px) {
  .recipeContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .recipeCard .recipePhoto {
    justify-content: flex-start;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .recipeContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .recipeContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1201px) {
  .recipeContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}