/* reset default styles */
*,
*:before,
*:after {
  box-sizing: inherit;
  /* position: relative; */
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  box-sizing: border-box;
  font: 62.5% 'Source Sans Pro', sans-serif;
}


body {
  margin: 0px;
  line-height: 1.3;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

a,
p,
li,
button,
div {
  font-size: 1.4rem;
}

small {
  font-size: 1.2rem;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-radius: 0;
  background: transparent;
}

/* app container styling */
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(22, 22, 22, 0.915);
  color: #e4e4e4;
}

.mainSection {
  margin-bottom: 5rem;
}

/* page options */
.charactersPageOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.charactersPageOptions button {
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  padding: 1rem 1.5rem;
}

.card {
  color: black;
  background: #f3f3f3;
  padding: 2rem;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button options */
.btnMain {
  color: #e4e4e4;
  background: steelblue;
  border: 1px solid steelblue;
  padding: 0.5rem 1rem;
  height: 3rem;
}

.btnSecondary {
  background: #f3f3f3;
  padding: 0.5rem 1rem;
  height: 3rem;
}

.btnLg {
  height: 5rem;
}

/* character photo */
.charPhoto {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.charPhoto img {
  width: 128px;
  height: 128px;
}

/* custom character styles */
.customCharContainer {
  display: flex;
  flex-direction: column;
}

.customizeChar {
  max-width: 30rem;
  width: 100%;
  align-self: center;
}

/* create character styles */
.createCharContainer {
  display: flex;
  flex-direction: column;
}

.createChar {
  max-width: 25em;
  width: 100%;
  align-self: center;
}

.createCharFields {
  width: 100%;
  display: flex;
  margin-bottom: 0.2rem;
}

.createCharFields label {
  min-width: 8rem;
  width: 9rem;
}

.filmCheckboxContainer {
  display: flex;
  flex-direction: column;
}

.checkboxLabel {
  font-size: 1.2rem;
}

.createCharButtonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  color: red;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

/* nickname styles */
.nicknameFields {
  margin: 20px 0;
}

.nicknameFields label {
  display: block;
  margin-bottom: 10px;
}

.nicknameFields input {
  padding: 15px 10px;
  height: 14px;
  max-width: 200px;
  width: 100%;
  font-size: 1.2rem;
}

/* cards container */
.charContainer {
  padding: 1rem 3rem;
  display: grid;
}

/* character card container */
.charCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem;
}

/* character card header */
.charHeadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.charHeadContainer div {
  width: 100%;
}

.charHeadContainer h3 {
  margin: 0;
}

.charHeadContainer .favIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* character card photo */
.charCard .charPhoto {
  justify-content: center;
}

/* character additional details - films */
.charAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.charFilmsList {
  margin-top: 0;
}

.charFilm {
  margin-left: 0.5rem;
}

/* character buttons */
.charBtnOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.charBtnOptions .space {
  margin-bottom: 1rem;
}

.charBtnOptions button {
  width: 100%;
}

/* modal */
.modal {
  position: absolute;
  display: inline-block;
  padding: 0.8rem;
  color: black;
  background: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 5%;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.modalName {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modalList {
  margin: 0;
}

.modalHeading {
  display: flex;
  justify-content: space-between;
}

/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop
*/
/* Mobile */
@media screen and (max-width: 600px) {
  .charContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .charCard .charPhoto {
    justify-content: flex-start;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .charContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .charContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1201px) {
  .charContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}