body {
  margin: 0px;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

/* h1 {
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
  align-items: center;
  height: 100px;
  display: flex;
  justify-content: center;
} */

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  color: rgb(112, 108, 108);
  padding: 10px;
}

h4 {
  font-size: 1.5rem;
  margin-top: 80px;
}

input, textarea {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: black;
  border-radius: 5px;
  border:rgb(135, 127, 127) 2px solid;
  padding: 8px;
}

textarea {
  height: 100%;
}


a,
p,
li,
button,
div {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

small {
  font-size: 1rem;
}

img {
  margin-top: 20px;
}

/* figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
} */

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

button {
  border-radius: 0;
  background: transparent;
}

/* app container styling */
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: #9a455b;
  color: #e4e4e4;
}


.recipeCardText {
  display: flex;
  flex-direction: column;
}

.recipeDetail {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: black;
  line-height: 1.7;
}

/* page options */
.recipesPageOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 3rem; */
}

.recipesPageOptions button {
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.card {
  color: rgb(49, 44, 44) transparent;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
  margin: 20px;
}

.recipe-img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin-top: 0px;
}

.card .createRecipe {
  color: rgb(49, 44, 44);
  background: #e1b86d;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(240, 158, 57);
  box-shadow: 0 20px 30px -10px rgba(150,170,180,0.5);
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button options */
.btnMain {
  color: #e4e4e4;
  background: steelblue;
  border: 1px solid steelblue;
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 40%;
}

.btnSecondary {
  background: #f3f3f3;
  border: 1px solid rgb(134, 137, 139);
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 150%;
}

.btnnav {
  background: #f3f3f3;
  border: 1px solid rgb(134, 137, 139);
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 100%;
}

.search-btn {
  background: #c5c3c3;
  border: 1px solid rgb(134, 137, 139);
  padding: 0rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: black;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btnLg {
  height: 5rem;
}

/* custom recipe styles */
.customRecipeContainer {
  display: flex;
  flex-direction: column;
}

.customizeRecipe {
  max-width: 30rem;
  width: 100%;
  align-self: center;
}

/* create recipe styles */
.createRecipeContainer {
  display: flex;
  flex-direction: column;
}

.createRecipe {
  max-width: 35em;
  width: 100%;
  align-self: center;
}

.createRecipeFields {
  width: 100%;
  display: flex;
  margin-bottom: 0.2rem;
}

.createRecipeFields label {
  min-width: 8rem;
  width: 9rem;
}

.createRecipeButtonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  color: red;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

/* cards container */
.recipeContainer {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

/* recipe card container */
.recipeCard {
  align-items: center;
}

h3 {
  display: flex;
  margin: 0;
  text-align: center;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.recipeHeadContainer .favIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* recipe buttons */
.recipeBtnOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recipeBtnOptions .space {
  margin-bottom: 1rem;
}

.recipeBtnOptions button {
  width: 100%;
}

/* modal */
.modal {
  position: absolute;
  display: inline-block;
  padding: 0.8rem;
  color: rgb(49, 44, 44);
  background: #ebbdbd;
  border: 1px solid rgb(236, 152, 152);
  border-radius: 5%;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.modalName {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.modalList {
  margin: 0;
}

.modalDetail {
  font-size: 1rem;
}

.modalHeading {
  display: flex;
  justify-content: space-between;
}

/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop
*/
/* Mobile */
@media screen and (max-width: 600px) {
  .recipeContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .recipeCard .recipePhoto {
    justify-content: flex-start;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .recipeContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .recipeContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1201px) {
  .recipeContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}